body {
	margin: 0;
	padding: 0;
	border: 0;
}

nav {
	position: fixed;
	width: 100%;
	height: 100px;
	background: #000;
}

.hamburger {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background: #000;
	position: relative;
}

.button {
	width: 98px;
	height: 98px;
	background: #000;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.line {
	position: absolute;
	width: 60%;
	height: 1px;
	left: 20%;
	background: #fff;
}

.line1 { top: 25%; }
.line2 { top: 50%; }
.line3 { top: 75%; }

.menu {
	display: none;
}

.hamburger:hover .menu {
	display: block;
	position: absolute;
	top:100px;
	left: -70%;
	width: 250px;
	height: 300px;
	background: #000;
}

.hamburger:hover .menu a {
	display: block;
	padding: 16px 0 18px 0;
	text-align: center;
	color: #fff;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 24px;
	font-weight: 800;
	text-decoration: none;
}

.hamburger:hover .menu a:hover {
	color: #dbdbdb;
}

/* ANIMACJA HAMBURGERA */
.button:hover .line1 {
	-webkit-animation: line1_anim 1s 1;
	-o-animation: line1_anim 1s 1;
	animation: line1_anim 1s 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes line1_anim {
	0%{ top: 25%; 
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg); 
	}
	100%{ top: 50%; 
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	}
}

.button:hover .line3 {
	-webkit-animation: line3_anim 1s 1;
	-o-animation: line3_anim 1s 1;
	animation: line3_anim 1s 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes line3_anim {
	0%{ top: 75%; 
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	}
	100%{ top: 50%; 
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	}
}

.button:hover .line2 {
	-webkit-animation: line2_anim 1s 1;
	-o-animation: line2_anim 1s 1;
	animation: line2_anim 1s 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes line2_anim {
	0%{ width: 60%; left: 20%; }
	100%{ width: 0%; left: 50%; }
}

.button:hover {
	-webkit-animation: button_anim 1s 1;
	-o-animation: button_anim 1s 1;
	animation: button_anim 1s 1;
}

@keyframes button_anim {
	0%{ 
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
 	}
	25%{ 
	-moz-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
	}
	75%{ 
	-moz-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	}
	100%{
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);	
	}
}


